{% extends "base.html" %}

{% block title %}O'yinni O'chirish - O'yin Administratori{% endblock %}
{% block header_title %}O'yinni O'chirish{% endblock %}

{% block content %}
<div class="page-header">
  <h2 class="page-title">O'yinni O'chirish</h2>
  <p class="page-subtitle">O'yinni o'chirishni tasdiqlang</p>
</div>

<div class="row">
  <div class="col-12 col-md-6 mx-auto">
      <div class="card">
          <div class="card-header bg-danger text-white">
              <h4 class="card-title">O'chirishni tasdiqlash</h4>
              <div class="card-subtitle text-white-50">Bu amalni ortga qaytarib bo'lmaydi</div>
          </div>
          <div class="card-body">
              <p>Haqiqatdan ham o'yinni o'chirib tashlamoqchimisiz <strong>{{ game.name }}</strong>?</p>
              <p>Bu, shuningdek, barcha bog'langan o'yin seanslarini va statistikani ham o'chirib tashlaydi !</p>
              
              <form method="post">
                  {% csrf_token %}
                  <div class="d-flex justify-content-between">
                      <a href="{% url 'game_list' %}" class="btn btn-outline-secondary">Bekor qilish</a>
                      <button type="submit" class="btn btn-danger w-auto h-100 p-2 ">O'yinni O'chirish</button>
                  </div>
              </form>
          </div>
      </div>
  </div>
</div>
{% endblock %}